body {
    background-color: lightblue;
    font-family: 'Arial', serif;

}

h1 {
    margin-top:10;
}

nav{
    float: left;
    width: 12%;

}

article{
    float: left;
    width: 38%;
    margin-top: 60px;
}

aside{
    margin-top: 60px;
    float: right;
    width: 50%
}

.tableDiv {
    font-size: 14pt;
    margin-top: 20px;
    margin-left: 40px;
    border: 1px solid black;
    overflow-y:auto;
    width: 400px;
    overflow-x:auto;
}

.filterTableDiv {
    font-size: 12pt;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid black;
    overflow-y:auto;
    width: 500px;
    overflow-x:auto;
}

.datasetTableDiv {
    font-size: 12pt;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid black;
    overflow-y:auto;
    width: 200px;
    overflow-x:auto;
}

.formDiv {
    font-size: 14pt;
    margin-top: 20px;
    margin-left: 10px;
}

.genericDiv {
    font-size: 14pt;
    margin-top: 40px;
    display: block
}

#filtersButton, #processButton, #streamButton, #archivesButton, #settingsButton, #adminButton  {
    margin-left: 30px;
    font-size: 12pt;
    width: 150px;
    background-color: cornflowerblue;
}

#loginButton, #createButton {
    width: 200px;
    background-color: cornflowerblue;
    font-size: 16pt;
}

#loginButton:hover {    background-color: dodgerblue;
}

#loggedInDetails {
    font-size: 12pt;
}

